<div class="page-header">
    <h1>About Donate Lanka</h1>
</div>
<div class="container">
    <p>
        Donate Lanka is a platform for the differently suffered people to bridge with the volunteering parties who like to donate specially in Sri Lanka. The system consists of predefined problem areas namely, economic, educational, health etc.
    </p>
    <p>
        Anyone who is in need of any kind of above categorized problem areas  can meet the grama niladhari of his/her residential area. Then the grama niladhari logs in to the system and creates a request mentioning the particular problem area and the type of donation needed. Then the administrator approves and publish the request on the donors’ dashboard.
    </p>
    <p>
        Donors can view the requests on their dashboards and do selections on their preference of donation. Once a donor confirms a donation the authorizer who created the particular request gets a notification with donor’s details. Money related donations can be carry out through the web portal using an online payment module.
    </p>
</div>