<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading">Donate Lanka</div>
            <div class="intro-lead-in">Giving is not just about making a donation</div>
            <div class="intro-lead-in">It's about making a difference</div>
            <a ng-show="!main.isLoggedIn" href="/login" class="page-scroll btn btn twitterbtn">Log In</a>
            <a ng-show="!main.isLoggedIn" href="/register" class="page-scroll btn twitterbtn">Register</a>
            <a ng-show="main.isLoggedIn" href="#" ng-click="main.logout();" class="page-scroll btn btn-xl">Logout</a>

        </div>
    </div>
</header>
<div class="row text-center">
    <div class="container">
        <h2 class="section-heading">Home</h2>
        <h3 class="section-subheading text-muted">Hello <strong>{{ main.username || "user" }}, </strong> Welcome to Donate Lanka!</h3>
    </div>
</div>


<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">

                <h2 class="section-heading">About Donate Lanka</h2>
                <h3 class="section-subheading text-muted">Donations & Welfare Services</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="glyphicon glyphicon-film"></span>
                <h4 class="service-heading">Health</h4>
                <p class="text-muted">category
                </p>
            </div>
            <div class="col-md-4">
                <span class="glyphicon glyphicon-usd"></span>
                <h4 class="service-heading">Education</h4>
                <p class="text-muted">category</p>
            </div>
            <div class="col-md-4">
                <span class="glyphicon glyphicon-save"></span>
                <h4 class="service-heading">Services</h4>
                <p class="text-muted">category
                </p>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="#"><i class="fa fa-google-plus"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="#">Privacy Policy</a>
                    </li>
                    <li><a href="#">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>