
<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="assets/css/animate.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">

    <script src="assets/js/angular.js"></script>
    <script src="assets/js/angular-route.js"></script>
    <script src="assets/js/angular-animate.js"></script>

    <script src="app/app.js"></script>
    <script src="app/routes.js"></script>

    <script src="app/controllers/userCtrl.js"></script>
    <script src="app/controllers/mainCtrl.js"></script>
    <script src="app/controllers/emailCtrl.js"></script>

    <script src="app/services/userServices.js"></script>
    <script src="app/services/authServices.js"></script>

    <title>Donate Lanka</title>

</head>
<body ng-app="userApp" ng-controller="mainCtrl as main" ng-show="main.loadme" ng-cloak>

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Donate Lanka</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">

                <li><a ng-show="!main.isLoggedIn" href="/register">Register</a></li>
                <li><a ng-show="!main.isLoggedIn" href="/login">Log In</a></li>
                <li><a ng-show="main.isLoggedIn" href="#" ng-click="main.logout();">Logout</a></li>
                <li><a href="/about">About</a></li>

                <li><a ng-show="main.isLoggedIn" href="/profile">{{main.username}}</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container theme-showcase" role="main">
    <br>
    <br>
    <br>
    <div ng-view></div>

</div>

<!-- Header -->


<script src="assets/js/jquery-3.1.1.min.js"></script>
<script src="assets/js/bootstrap.js"></script>
</body>

</html>
