<!-- Heading -->
<div class="row text-center">
    <div class="container">
        <h2 class="section-heading">Forgot Password</h2>
        <h3 class="section-subheading text-muted">This page allows you to request a password reset link be sent to your inbox.</h3>
    </div>
</div>
<!-- Heading -->

<!-- Main Section -->
<section id="contact">
    <!-- Start of Container -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form name="userForm" id="contactForm" ng-submit="password.sendPassword(resetData, userForm.$valid);" novalidate>
                    <div class="row">
                        <div class="col-md-6">

                            <!-- Username Input -->
                            <div class="form-group">
                                <label>Username:</label>
                                <input ng-disabled="password.disabled" class="form-control" type="text" name="username" placeholder="username *" ng-model="password.resetData.username" required>
                            </div>
                            <!-- Submit Button -->
                            <button ng-disabled="password.disabled" type="submit" class="btn btn-xl">Submit</button>

                        </div>
                    </div>
                </form>
            </div>
        </div>

        <br>


        <!-- Custom Messages -->
        <div class="row show-hide-message" ng-show="password.successMsg || password.errorMsg">
            <div ng-class="alert">{{ password.successMsg || password.errorMsg }}</div>
        </div>
        <!-- Custom Messages -->

    </div>
    <!-- End of Container -->
</section>
<!-- Main Section /-->
