<!-- Heading -->
<div class="row text-center">
    <div class="container">
        <h2 class="section-heading">Forgot Username</h2>
        <h3 class="section-subheading text-muted">This page allows you to request your username be sent to your inbox.</h3>
    </div>
</div>
<!-- Heading -->

<!-- Main Section -->
<section id="contact">
    <!-- Start of Container -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form name="userForm" id="contactForm" ng-submit="username.sendUsername(userData, userForm.$valid);" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <!-- E-mail Input -->
                            <div class="form-group">
                                <input ng-disabled="username.disabled" class="form-control" type="text" name="email" placeholder="Enter your email*" ng-model="username.userData.email" required>
                            </div>
                            <!-- Submit Button -->
                            <button ng-disabled="username.disabled" type="submit" class="btn btn-xl">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <br>

        <!-- Custom Messages -->
        <div class="row show-hide-message" ng-show="username.successMsg || username.errorMsg">
            <div ng-class="alert">{{ username.successMsg || username.errorMsg }}</div>
        </div>
        <!-- Custom Messages -->

    </div>
    <!-- End of Container -->
</section>
<!-- Main Section /-->
