<br>
<!-- Heading -->
<div class="row text-center">
    <div class="container">
        <h2 class="section-heading">Log in to Donate Lanka</h2>
    </div>
</div>
<form class="box" ng-submit="main.doLogin(loginData);">

    <div class="form-group">
        <div>
            <input type="text" class="form-control" name="username" placeholder="Username*" ng-model="main.loginData.username">
        </div>
    </div>

    <div class="form-group">
        <div>
            <input type="password" class="form-control" name="password"  placeholder="Password*" ng-model="main.loginData.password">
        </div>
    </div>

    <!--<div class="reset">
        <a href="/resetpassword" ng-disabled="main.disabled || facebook.disabled || google.disabled" >Forgot Password? </a>

        <a href="/resetusername" ng-disabled="main.disabled || facebook.disabled || google.disabled">Forgot Username?</a>
    </div>-->

    <br>

    <div class="form-group">
        <input type="submit" name="submit" class="btn btn-xl" value="Login"></input>&nbsp

        <a ng-click="main.facebook();">
            <img class="social-icons" src="assets/images/facebook.svg">
        </a>&nbsp
        <a ng-click="main.google();">
            <img class="social-icons" src="assets/images/google-plus.svg">
        </a>
    </div>

    <div class="row show-hide-message" ng-show="main.successMsg">
        <div class="alert alert-success">{{main.successMsg}}</div>
    </div>

    <br>

    <div class="row show-hide-message" ng-show="main.errorMsg">
        <div class="alert alert-danger">{{main.errorMsg}}</div>
    </div>

    <div class="row show-hide-message" ng-show="facebook.errorMsg">
        <div class="alert alert-danger">{{facebook.errorMsg}}</div>
    </div>

    <div class="row show-hide-message" ng-show="google.errorMsg">
        <div class="alert alert-danger">{{google.errorMsg}}</div>
    </div>

</form>