<div class="page-header">
    <h1>{{main.username}}'s Profile</h1>
</div>

<div class="panel panel-info">
    <div class="panel-heading" style="text-align: center;"><strong>User Profile</strong></div>
<table class="table">
    <tr>
        <td><strong>Profile Image</strong></td>
        <td><strong>Email</strong></td>
        <td><strong>Username</strong></td>
        <td><strong>Password</strong></td>

    </tr>
    <tr>
        <td>{{main.profileimage}}</td>
        <td>{{main.useremail}}</td>
        <td>{{main.username}}</td>
        <td>***************</td>

    </tr>
</table>
</div>