<br>
<div class="row text-center">
    <div class="container">
        <h2 class="section-heading">Register in Donate Lanka</h2>
    </div>
</div>

<form name="regForm" class="box" ng-submit="register.regUser(regData, regForm.$valid); " novalidate enctype="multipart/form-data">

    <div class="form-group" ng-class="{'has-success':(regForm.firstname.$valid && !regForm.firstname.$pristine), 'has-error':(!regForm.firstname.$valid && !regForm.firstname.$pristine) || (!regForm.firstname.$valid && regForm.$submitted)}">
        <div>
            <input type="text" class="form-control" name="firstname" placeholder="First Name*" ng-model="register.regData.firstname" ng-pattern="/^[a-zA-Z]{3,20}$/" ng-minlength="3" ng-maxlength="20" required>
            <p class="help-block" ng-show="(!regForm.firstname.$pristine && regForm.firstname.$error.required) || (regForm.$submitted && regForm.firstname.$error.required)">This field is required!</p>

            <p class="help-block" ng-show="(!regForm.firstname.$pristine && regForm.firstname.$error.pattern) || (!regForm.firstname.$pristine && regForm.firstname.$error.minLength) || (!regForm.firstname.$pristine && regForm.firstname.$error.maxLength)">
                Must not contain any special characters & numbers. <br>Must be at least 3 characters but no more than 20.
            </p>

        </div>
    </div>

    <div class="form-group" ng-class="{'has-success':(regForm.lastname.$valid && !regForm.lastname.$pristine), 'has-error':(!regForm.lastname.$valid && !regForm.lastname.$pristine) || (!regForm.lastname.$valid && regForm.$submitted)}">
        <div>
            <input type="text" class="form-control" name="lastname" placeholder="Last Name*" ng-model="register.regData.lastname" ng-pattern="/^[a-zA-Z]{3,20}$/" ng-minlength="3" ng-maxlength="20" required>
            <p class="help-block" ng-show="(!regForm.lastname.$pristine && regForm.lastname.$error.required) || (regForm.$submitted && regForm.lastname.$error.required)">This field is required!</p>

            <p class="help-block" ng-show="(!regForm.lastname.$pristine && regForm.lastname.$error.pattern) || (!regForm.lastname.$pristine && regForm.lastname.$error.minLength) || (!regForm.lastname.$pristine && regForm.lastname.$error.maxLength)">
                Must not contain any special characters & numbers. <br>Must be at least 3 characters but no more than 20.
            </p>

        </div>
    </div>

    <div class="form-group" ng-class="{'has-success':(regForm.email.$valid && !regForm.email.$pristine && !register.emailInvalid), 'has-error':(!regForm.email.$valid && !regForm.email.$pristine) || (!regForm.email.$valid && regForm.$submitted)|| register.emailInvalid}">
        <div>
            <input type="email" class="form-control" name="email" placeholder="E-mail*" ng-model="register.regData.email" ng-pattern="/^[a-zA-Z0-9._%-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,4}$/" ng-minlength="3" ng-maxlength="40" ng-blur="register.checkEmail(regData);" required>

            <p class="help-block" ng-show="(!regForm.email.$pristine && regForm.email.$error.required) || (regForm.$submitted && regForm.email.$error.required)">This field is required!</p>

            <span ng-show="register.checkingUsername" class="glyphicon glyphicon-repeat"></span>
            <p class="help-block" ng-show="register.emailMsg && !regForm.email.$error.required && regForm.email.$valid">{{register.emailMsg}}</p>

            <p class="help-block" ng-show="(!regForm.email.$pristine && regForm.email.$error.pattern) || (!regForm.email.$pristine && regForm.email.$error.minLength) || (!regForm.email.$pristine && regForm.email.$error.maxLength)">
                Must contain "@" but not any special characters. <br>Must be at least 3 characters but no more than 25.
            </p>

        </div>
    </div>

    <div class="form-group" ng-class="{'has-success':(regForm.username.$valid && !regForm.username.$pristine && !register.usernameInvalid), 'has-error':(!regForm.username.$valid && !regForm.username.$pristine) || (!regForm.username.$valid && regForm.$submitted) || register.usernameInvalid}">
        <div>
            <input type="text" class="form-control" name="username" placeholder="Username*" ng-model="register.regData.username" ng-pattern="/^(?!.*?[\W])(?=.*?[a-zA-Z]|=.*?[A-Z]).{3,16}$/" ng-minlength="3" ng-maxlength="25" ng-blur="register.checkUsername(regData);" required>

            <p class="help-block" ng-show="(!regForm.username.$pristine && regForm.username.$error.required) || (regForm.$submitted && regForm.username.$error.required)">This field is required!</p>

            <span ng-show="register.checkingUsername" class="glyphicon glyphicon-repeat"></span>
            <p class="help-block" ng-show="register.usernameMsg && !regForm.username.$error.required && regForm.username.$valid">{{register.usernameMsg}}</p>

            <p class="help-block" ng-show="(!regForm.username.$pristine && regForm.username.$error.pattern) || (!regForm.username.$pristine && regForm.username.$error.minLength) || (!regForm.username.$pristine && regForm.username.$error.maxLength)">
                Must not contain any special characters or spaces. <br>Must be at least 3 characters but no more than 25.
            </p>
        </div>
    </div>

    <div class="form-group" ng-class="{ 'has-success':(regForm.firstPassword.$valid && !regForm.firstPassword.$pristine), 'has-error':(!regForm.firstPassword.$valid && !regForm.firstPassword.$pristine) || (!regForm.firstPassword.$valid && regForm.$submitted) }">
        <div>
            <input ng-disabled="register.disabled" class="form-control" type="password" name="firstPassword" placeholder="Password*" ng-model="firstPassword" ng-minlength="8" ng-maxlength="35" ng-pattern="/^(?=.*?[a-z])(?=.*?[A-Z])(?=.*?[\d])(?=.*?[\W]).{8,35}$/" required>

            <p class="help-block" ng-show="(!regForm.firstPassword.$pristine && regForm.firstPassword.$error.required) || (regForm.$submitted && regForm.firstPassword.$error.required)">This field is required</p>

            <p ng-show="(!regForm.firstPassword.$pristine && regForm.firstPassword.$error.pattern) || (!regForm.firstPassword.$pristine && regForm.firstPassword.$error.minlength) || (!regForm.firstPassword.$pristine && regForm.firstPassword.$error.maxlength)" class="help-block">
                Must contain at least one UPPERCASE letter, one lowercase letter, one number and one special character.<br> Must be at least 8 characters but no more than 35.
            </p>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-success':confirmed && !regForm.cpassword.$error.required, 'has-error':(!confirmed && !regForm.cpassword.$error.required) || (regForm.cpassword.$error.required && !regForm.cpassword.$pristine) || (regForm.$submitted && regForm.cpassword.$error.required)}">
        <div>
            <input type="password" class="form-control" name="cpassword" id="cpassword" placeholder="Confirm Password*" match={{[firstPassword]}} ng-change="register.regData.password = confirm" ng-model="confirm" required>

            <p class="help-block" ng-show="(!regForm.cpassword.$pristine && regForm.cpassword.$error.required) || (regForm.$submitted && regForm.cpassword.$error.required)">This field is required!</p>

            <p class="help-block" ng-show="!confirmed && !regForm.cpassword.$pristine && regForm.firstPassword.$valid">Passwords do not match</p>
        </div>
    </div>

    <div class="form-group" >
        <label>Register As: *</label>
        <div>
        <input type="radio" name="role" value="authorizer" ng-model="register.regData.role" required checked>Authorzier
        <input type="radio" name="role" value="user" ng-model="register.regData.role" required checked>Donor/Recipient
        </div>
    </div>

    <div class="form-group">
        <input type="submit" name="submit" class="btn btn-xl" value="Register"></input>
    </div>



<br>

    <div class="row show-hide-message" ng-show="register.successMsg">
        <div class="alert alert-success">{{register.successMsg}}</div>
    </div>

    <br>

    <div class="row show-hide-message" ng-show="register.errorMsg">
        <div class="alert alert-danger">{{register.errorMsg}}</div>
    </div>

</form>